body {
    background-image:url('background.png');
    background-size: cover;
    font-family: "jubilat", serif;
    font-size: 16px;
}

article {
    background-color: #FFFFFF;
    padding: 30px;
    min-height: 600px;
}

body {
    padding: 60px 0;
}

p {
    line-height: 1.6em;
    margin: 0 0 1.6em 0;
}

.map {
    cursor: pointer;
    height: 450px;
}

.leaflet-marker-icon {
    width: 50px !important;
    height: 15px !important;
    padding: 3px;
    font-weight: bold;
    font-size: 8px;
    background-color: black;
    font-family: monospace;
}
